/.phpunit.cache
/node_modules/
/public/build/
/public/hot/
/storage/app/private/*
/storage/*.key
/storage/pail/
/vendor/
/.env
.env
.phpactor.json
.phpunit.result.cache
Homestead.*
npm-debug.log*
yarn-error.log*
/auth.json
/.fleet/
/.idea/
/.nova/
/.vscode/
/.zed/
vite.config.js
