/.phpunit.cache
/node_modules/
/public/build/
/public/hot/
/public/storage/
/storage/app/public/model_images/
/storage/app/public/profile-photos/
/public/storage/model_images/
/public/storage/profile-photos/
/storage/*.key
/storage/pail/
/vendor/
/.env
.env
.phpactor.json
.phpunit.result.cache
Homestead.*
npm-debug.log*
yarn-error.log*
/auth.json
/.fleet/
/.idea/
/.nova/
/.vscode/
/.zed/
