@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



/* ANIMACIÓN DEL BANNER: ¿QUÉ ES BANCAL? */

@keyframes marquee {
    0%      {transform: translateX(100%);}

    100%   {transform: translateX(-100%);}
}

.animate-marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
    white-space: nowrap;
}

.banner { color: rgb(252, 252, 252);
        font-family: 'DynaPuff_Regular', sans-serif;
        font-size: 2rem;
        text-shadow: 2px 2px 4px rgba(65, 6, 44, 0.5);
    }

.text_1 { color: #E63B40;
        font-family: 'DynaPuff_Regular', sans-serif;
        /* text-shadow: 2px 2px 4px rgba(13, 11, 13, 0.5); */
    }
